body{font-family: 'Courier New', Courier, monospace; }
table, tr, td{
    border:1px solid black;
    border-collapse: collapse;
    
}
table{
    width: 100%;
    text-align: center;
    
}
td{
    height: 20px;
}




